---
Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-core.FixedAddressDereference,
  -clang-analyzer-security.ArrayBound,
  bugprone-*,
  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-reserved-identifier,
  performance-*,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  portability-*,
  -portability-avoid-pragma-once,
  modernize-use-nullptr,
  modernize-use-override,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-control-flow
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '(^|[/\\])(third_party|external|vendor|vcpkg|imgui-master|VisualUefi|Zydis|phnt|build|_deps)([/\\]|$)'
SystemHeaders: false
FormatStyle: none
...
